# .github/workflows/publish.yml
name: Publish to pub.dev

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' # tag pattern on pub.dev: 'v'

# Publish using custom workflow
jobs:
  dar_pub_publish:
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
